@charset "ISO-8859-1";

body
{
background-color:grey;
}
h1
{
text-align:center;
}
.blue {
  max-width: 500px;
  margin: auto;
}
footer{
	background-color: white;
}
header{
	background-color: white;
}
